<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder ignore-resource-not-found="true" 
		location="classpath:/META-INF/message-core.${env:dev}.properties,classpath:/META-INF/message-core-test.properties"/>

	<context:component-scan base-package="com.legacytojava.message.dao, com.legacytojava.message.bo" />
	<context:annotation-config/>
	
	<!-- Spring JPA Entity Manager Factory -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:/META-INF/jpa-persistence.xml" />
	    <property name="dataSource" ref="mysqlDataSource" />
	    <property name="persistenceUnitName" value="message_core" />
	    <property name="jpaDialect" ref="jpaDialect" />
	    <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
	    <property name="loadTimeWeaver">
	        <bean class="com.legacytojava.message.jpa.model.ClassCastClassloaderWeaver" />
	    </property>
	</bean>

	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect" />
	
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter"
    	p:databasePlatform="org.eclipse.persistence.platform.database.MySQLPlatform"
    	p:showSql="true" p:generateDdl="false" />

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="jpaTemplate" class="org.springframework.orm.jpa.JpaTemplate">
	    <property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	<!-- bean id="jpaAdministratorDAO"
	    class="login.JpaAdministratorDAO">
	    <property name="jpaTemplate" ref="jpaTemplate"/>
	</bean -->


	<bean id="duplicateCheck"
		class="com.legacytojava.message.bo.mailreader.DuplicateCheckJdbcDao">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="purgeAfter" value="24"/>
	</bean>

	<!-- bean id="idTokensDao"
		class="com.legacytojava.message.dao.idtokens.IdTokensJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->

	<!-- bean id="emailAddrDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.EmailAddrJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="mailingListDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.MailingListJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="subscriptionDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.SubscriptionJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="emailVariableDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.EmailVariableJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="emailTemplateDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.EmailTemplateJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="unsubCommentsDao" scope="singleton"
		class="com.legacytojava.message.dao.emailaddr.UnsubCommentsJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="mailBoxDao" scope="singleton"
		class="com.legacytojava.message.dao.mailbox.MailBoxJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="clientDao" scope="singleton"
		class="com.legacytojava.message.dao.client.ClientJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="reloadFlagsDao" scope="singleton"
		class="com.legacytojava.message.dao.client.ReloadFlagsJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- bean id="customerDao" scope="singleton"
		class="com.legacytojava.message.dao.customer.CustomerJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->

	<!-- >bean id="custSequenceDao" scope="singleton"
		class="com.legacytojava.message.dao.customer.CustSequenceJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->

	<!-- Define Rule DAO's -->
	<!-- bean id="ruleElementDao" scope="singleton"
		class="com.legacytojava.message.dao.rule.RuleElementJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="ruleLogicDao" scope="singleton"
		class="com.legacytojava.message.dao.rule.RuleLogicJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="ruleSubRuleMapDao" scope="singleton"
		class="com.legacytojava.message.dao.rule.RuleSubRuleMapJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="ruleDao" scope="singleton"
		class="com.legacytojava.message.dao.rule.RuleJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
		<property name="ruleElementDao" ref="ruleElementDao"/>
		<property name="ruleLogicDao" ref="ruleLogicDao"/>
		<property name="ruleSubRuleMapDao" ref="ruleSubRuleMapDao"/>
	</bean -->
	
	<!-- Define Template DAO's -->
	<!-- bean id="globalVariableDao" scope="singleton"
		class="com.legacytojava.message.dao.template.GlobalVariableJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->

	<!-- bean id="clientVariableDao" scope="singleton"
		class="com.legacytojava.message.dao.template.ClientVariableJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="templateVariableDao" scope="singleton"
		class="com.legacytojava.message.dao.template.TemplateVariableJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
		
	<!-- bean id="subjTemplateDao" scope="singleton"
		class="com.legacytojava.message.dao.template.SubjTemplateJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
		
	<!-- bean id="bodyTemplateDao" scope="singleton"
		class="com.legacytojava.message.dao.template.BodyTemplateJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
		
	<!-- bean id="msgSourceDao" scope="singleton"
		class="com.legacytojava.message.dao.template.MsgSourceJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
		
	<!-- Define MsgOutbox DAO's -->
	<!-- bean id="deliveryStatusDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.DeliveryStatusJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="renderVariableDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.RenderVariableJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="renderAttachmentDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.RenderAttachmentJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="renderObjectDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.RenderObjectJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgRenderedDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.MsgRenderedJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgSequenceDao" scope="singleton"
		class="com.legacytojava.message.dao.outbox.MsgSequenceJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgUnreadCountDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgUnreadCountJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- Define Action DAO's -->
	<!-- bean id="msgDataTypeDao" scope="singleton"
		class="com.legacytojava.message.dao.action.MsgDataTypeJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgActionDao" scope="singleton"
		class="com.legacytojava.message.dao.action.MsgActionJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- >bean id="msgActionDetailDao" scope="singleton"
		class="com.legacytojava.message.dao.action.MsgActionDetailJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- Define MsgInbox DAO's -->
	<!-- bean id="msgInboxDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgInboxJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgAddrsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgAddrsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="attachmentsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.AttachmentsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgStreamDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgStreamJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgHeadersDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgHeadersJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="rfcFieldsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.RfcFieldsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->

	<!-- bean id="msgActionLogsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgActionLogsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgClickCountsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgClickCountsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="msgUnsubCommentsDao" scope="singleton"
		class="com.legacytojava.message.dao.inbox.MsgUnsubCommentsJdbcDao">
		<property name="dataSource">
			<ref bean="mysqlDataSource"/>
		</property>
	</bean -->
	
	<!-- Define SMTP server and Other Servers DAO's -->
	
	<!-- bean id="smtpServerDao" scope="singleton"
		class="com.legacytojava.message.dao.smtp.SmtpServerJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="mailSenderPropsDao" scope="singleton"
		class="com.legacytojava.message.dao.smtp.MailSenderPropsJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="socketServerDao" scope="singleton"
		class="com.legacytojava.message.dao.socket.SocketServerJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="timerServerDao" scope="singleton"
		class="com.legacytojava.message.dao.timer.TimerServerJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="userDao" scope="singleton"
		class="com.legacytojava.message.dao.user.UserJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
	<!-- bean id="sessionUploadDao" scope="singleton"
		class="com.legacytojava.message.dao.user.SessionUploadJdbcDao">
		<property name="dataSource" ref="mysqlDataSource"/>
	</bean -->
	
</beans>