<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AngularJS Demo</title>
<script src="lib/angular.min.js"></script>
<link rel="stylesheet" href="css/demo.css">
<link rel="stylesheet" href="css/w3.css">
</head>
<body ng-app="myapp" ng-controller="ListController">
	<div class="w3-container" style="width: 800px;">
		<div class="w3-row w3-col w3-panel">
			<form ng-submit="addNew()">
				<table class="w3-table">
					<thead>
						<tr>
							<th><input type="checkbox" ng-model="selectedAll"
								ng-click="checkAll()" /></th>
							<th>First name</th>
							<th>Last name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="personalDetail in personalDetails">
							<td><input type="checkbox"
								ng-model="personalDetail.selected" /></td>
							<td><input type="text" class="demo-input"
								ng-model="personalDetail.fname" required /></td>
							<td><input type="text" class="demo-input"
								ng-model="personalDetail.lname" required /></td>
							<td><input type="email" class="demo-input"
								ng-model="personalDetail.email" required /></td>
						</tr>
					</tbody>
				</table>

				<div class="w3-block">
					<input ng-hide="!personalDetails.length" type="button"
						class="w3-btn" ng-click="remove()" value="Remove">
					<input type="submit"
						class="w3-btn btn-primary" value="Add New">
				</div>
			</form>
		</div>
	</div>


	<script type="text/javascript">
		var app = angular.module("myapp", []);
		app.controller("ListController", [
				'$scope',
				function($scope) {
					$scope.personalDetails = [ {
						'fname' : 'Muhammed',
						'lname' : 'Shanid',
						'email' : 'shanid@shanid.com'
					}, {
						'fname' : 'John',
						'lname' : 'Abraham',
						'email' : 'john@john.com'
					}, {
						'fname' : 'Roy',
						'lname' : 'Mathew',
						'email' : 'roy@roy.com'
					} ];

					$scope.addNew = function(personalDetail) {
						$scope.personalDetails.push({
							'fname' : "",
							'lname' : "",
							'email' : "",
						});
					};

					$scope.remove = function() {
						var newDataList = [];
						$scope.selectedAll = false;
						angular.forEach($scope.personalDetails, function(
								selected) {
							if (!selected.selected) {
								newDataList.push(selected);
							}
						});
						$scope.personalDetails = newDataList;
					};

					$scope.checkAll = function() {
						if (!$scope.selectedAll) {
							$scope.selectedAll = true;
						} else {
							$scope.selectedAll = false;
						}
						angular.forEach($scope.personalDetails, function(
								personalDetail) {
							personalDetail.selected = $scope.selectedAll;
						});
					};
				} ]);
	</script>

</body>
</html>