<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="./logs/msgcore.log"/>
      <param name="Append" value="false"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <category name="org.jboss.mq">
      <!-- priority value="TRACE" class="org.jboss.logging.XLevel"/ -->
      <priority value="ERROR"/>
   </category>
   
   <category name="org.jboss.remoting">
      <priority value="INFO"/>
   </category>
   
   <logger name="org.springframework">
	  <level value="INFO"/> 
	  <appender-ref ref="FILE"/>
   </logger>

   <logger name="org.hibernate.ejb">
	  <level value="INFO"/> 
	  <appender-ref ref="FILE"/>
   </logger>
   <logger name="org.hibernate.engine">
	  <level value="INFO"/> 
	  <appender-ref ref="FILE"/>
   </logger>

   <logger name="com.legacytojava">
	  <level value="DEBUG"/>
	  <appender-ref ref="FILE"/>
   </logger>

   <root>
      <level value="DEBUG"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>
</log4j:configuration>
