<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

    <!-- Transaction Managers -->
	<bean id="jtaTransactionManager" lazy-init="true"
		class="org.springframework.transaction.jta.JtaTransactionManager">
	    <property name="userTransactionName" value="java:/UserTransaction"/>
	</bean>
	<!-- end of Transaction Managers -->

	
	<!-- JMS templates -->
	<bean id="jmsTemplate" 
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="destination"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>

	<bean id="jmsTemplateDefaultDest" parent="jmsTemplate"
	    class="org.springframework.jms.core.JmsTemplate">
	</bean>
	
	<bean id="mailReaderOutputJmsTemplate"
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="mailReaderOutput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	    <property name="priority">
	    	<value>1</value>
	    </property>
	</bean>
	
	<bean id="ruleEngineInputJmsTemplate" parent="mailReaderOutputJmsTemplate"
	      class="org.springframework.jms.core.JmsTemplate">
	</bean>
	
	<bean id="ruleEngineOutputJmsTemplate"
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="ruleEngineOutput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	    <property name="priority">
	    	<value>1</value>
	    </property>
	</bean>
	
	<bean id="mailSenderInputJmsTemplate" 
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="mailSenderInput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>
	
	<bean id="mailSenderOutputJmsTemplate" 
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="mailSenderOutput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>
	
	<bean id="customerCareInputJmsTemplate" 
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="customerCareInput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>
	
	<bean id="rmaRequestInputJmsTemplate" 
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="rmaRequestInput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>
	
	<bean id="unHandledOutputJmsTemplate"
	      class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory">
	        <ref bean="jmsConnectionFactory"/>
	    </property>
	    <property name="defaultDestination">
	        <ref bean="unHandledOutput"/>
	    </property>
	    <property name="receiveTimeout">
	        <value>2000</value>
	    </property>
	</bean>
	<!-- end of Templates -->
	
	<!-- JMS Processor -->
	<bean id="jmsProcessor" scope="prototype" lazy-init="false"
		class="com.legacytojava.jbatch.queue.JmsProcessor">
	    <property name="jmsTemplate">
	        <ref bean="ruleEngineOutputJmsTemplate"/>
	    </property>
	    <property name="errorJmsTemplate">
	        <ref bean="unHandledOutputJmsTemplate"/>
	    </property>
	    <property name="msgSelector">
	    	<null/>
	    </property>
	    <property name="msgType">
	    	<value>JMS</value>
	    </property>
	</bean>

	<!-- JMS Sender/Receiver -->
	<bean id="jmsSender" class="test.JmsSender">
	    <property name="jmsTemplate">
	        <ref bean="jmsTemplateDefaultDest"/>
	    </property>
	</bean>
	
	<bean id="jmsReceiver" class="test.JmsReceiver">
	    <property name="jmsTemplate">
	        <ref bean="unHandledOutputJmsTemplate"/>
	    </property>
	</bean>
	<!-- end of Sender/Receiver -->
	
	<!-- define properties and class for SimpleEmailSender -->	
	<bean id="smtpProperties" class="java.util.HashMap">
	    <constructor-arg>
	    <map>
	    	<entry key="smtphost" value="localhost"/>
	    	<entry key="smtpport" value="-1"/>
	    	<entry key="userid" value="jwang"/>
	    	<entry key="password" value="jwang"/>
	    	<entry key="persistent" value="no"/>
	    </map>
	    </constructor-arg>
	</bean>
	
	<bean id="simpleEmailSender" lazy-init="true"
	      class="com.legacytojava.message.bean.SimpleEmailSender">
	    <constructor-arg index="0" ref="smtpProperties"/>
	</bean>
	<!-- end of SimpleEmailSender -->
	
	<bean id="mailingListBo" scope="prototype" lazy-init="true"
		class="com.legacytojava.message.bo.mailinglist.MailingListBoImpl">
		<property name="emailTemplateDao" ref="emailTemplateDao"/>
		<property name="mailingListDao" ref="mailingListDao"/>
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="subscriptionDao" ref="subscriptionDao"/>
		<property name="msgClickCountsDao" ref="msgClickCountsDao"/>
		<property name="assignRuleNameBo" ref="assignRuleNameBo"/>
		<property name="sendMailBo" ref="sendMailBo"/>
	</bean>
	
	<!-- Task BO's -->
	<bean id="taskBaseBo" scope="prototype" abstract="true"
		class="com.legacytojava.message.bo.TaskBaseAdaptor">
		<property name="jmsProcessor" ref="jmsProcessor"/>
	</bean>
	<bean id="activateBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.ActivateBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
	</bean>
	<bean id="assignRuleNameBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.AssignRuleNameBoImpl">
	</bean>
	<bean id="autoReplyBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.AutoReplyBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="emailTemplateDao" ref="emailTemplateDao"/>
		<property name="mailingListDao" ref="mailingListDao"/>
	</bean>
	<bean id="bounceBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.BounceBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
	</bean>
	<bean id="broadcastBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.BroadcastBoImpl">
		<property name="mailingListDao" ref="mailingListDao"/>
		<property name="subscriptionDao" ref="subscriptionDao"/>
		<property name="msgClickCountsDao" ref="msgClickCountsDao"/>
		<property name="customerDao" ref="customerDao"/>
	</bean>
	<bean id="closeBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.CloseBoImpl">
		<property name="msgInboxDao" ref="msgInboxDao"/>
	</bean>
	<bean id="csrReplyBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.CsrReplyBoImpl">
	</bean>
	<bean id="deliveryErrorBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.DeliveryErrorBoImpl">
		<property name="deliveryStatusDao" ref="deliveryStatusDao"/>
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="msgInboxDao" ref="msgInboxDao"/>
	</bean>
	<bean id="dropBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.DropBoImpl">
	</bean>
	<bean id="forwardBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.ForwardBoImpl">
		<property name="msgStreamDao" ref="msgStreamDao"/>
		<property name="clientDao" ref="clientDao"/>
	</bean>
	<bean id="mailingListRegExBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.MailingListRegExBoImpl">
		<property name="mailingListDao" ref="mailingListDao"/>
	</bean>
	<bean id="openBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.OpenBoImpl">
		<property name="msgInboxDao" ref="msgInboxDao"/>
	</bean>
	<bean id="saveBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.SaveBoImpl">
		<property name="msgInboxBo" ref="msgInboxBo"/>
	</bean>
	<bean id="sendMailBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.SendMailBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
	</bean>
	<bean id="subscribeBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.SubscribeBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="mailingListDao" ref="mailingListDao"/>
		<property name="subscriptionDao" ref="subscriptionDao"/>
	</bean>
	<bean id="suspendBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.SuspendBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="msgInboxDao" ref="msgInboxDao"/>
	</bean>
	<bean id="toCsrBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.ToCsrBoImpl">
		<property name="msgDataTypeDao" ref="msgDataTypeDao"/>
	</bean>
	<bean id="toSecurityBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.ToSecurityBoImpl">
		<property name="clientDao" ref="clientDao"/>
	</bean>
	<bean id="unsubscribeBo" lazy-init="true" scope="prototype" parent="taskBaseBo"
		class="com.legacytojava.message.bo.UnsubscribeBoImpl">
		<property name="emailAddrDao" ref="emailAddrDao"/>
		<property name="mailingListDao" ref="mailingListDao"/>
		<property name="subscriptionDao" ref="subscriptionDao"/>
	</bean>
	
</beans>