<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    
    <!-- 
    	Main Section
     -->
	<bean id="queueListeners" class="java.util.HashMap">
		<constructor-arg index="0">
	    <props>
	    	<prop key="queueListener1">queueListener</prop>
	    </props>
		</constructor-arg>
	</bean>

	<bean id="mailReaders" class="java.util.HashMap">
		<constructor-arg index="0">
	    <props>
	    	<prop key="startServer">yes</prop>
	    </props>
		</constructor-arg>
	</bean>
	
	<bean id="timerServers" class="java.util.HashMap">
		<constructor-arg index="0">
	    <props>
	    	<prop key="startServer">no</prop>
	    </props>
		</constructor-arg>
	</bean>
	
	<bean id="socketServers" class="java.util.HashMap">
		<constructor-arg index="0">
	    <props>
	    	<prop key="socketServer1">socketServer</prop>
	    </props>
		</constructor-arg>
	</bean>
	
	<!-- 
		JMS Section
	 -->
	<!-- Application Beans -->
	<bean id="jmsProcessor" lazy-init="true"
		class="com.legacytojava.jbatch.queue.JmsProcessor">
	    <property name="jmsTemplate">
	        <ref bean="ruleEngineOutputJmsTemplate"/>
	    </property>
	    <property name="errorJmsTemplate">
	        <ref bean="unHandledOutputJmsTemplate"/>
	    </property>
	    <property name="msgSelector">
	    	<null/>
	    </property>
	    <property name="msgType">
	    	<value>JMS</value>
	    </property>
	</bean>
	
	<!-- override main configuration with TestProcessor for queue listener -->
	<bean id="queueReaderVo" class="com.legacytojava.message.vo.QueueReaderVo">
		<constructor-arg>
		<map>
			<entry key="queue_name" value="ruleEngineInput"></entry>
			<entry key="threads" value="1"></entry>
			<entry key="priority" value="high"></entry>
			<entry key="message_count" value="0"></entry>
			<entry key="allow_extra_workers" value="yes"></entry>
	    	<entry key="processor_name" value="queueProcessor"></entry>
		</map>
		</constructor-arg>
	</bean>
	
	<!-- test only, not yet used -->
	<bean id="mailSenderJmsProcessor" lazy-init="true"
		class="com.legacytojava.jbatch.queue.JmsProcessor">
	    <property name="jmsTemplate">
	        <ref bean="mailSenderInputJmsTemplate"/>
	    </property>
	    <property name="errorJmsTemplate">
	        <ref bean="unHandledOutputJmsTemplate"/>
	    </property>
	    <property name="msgSelector">
	    	<null/>
	    </property>
	    <property name="msgType">
	    	<value>JMS</value>
	    </property>
	</bean>
	
	<!-- 
		Socket Section
	 -->
	<!--
	 Required properties for socket server
	 	- port: the port number the socket server is listening to
		- processor_name: processor class name
		- interactive: yes/no
	 Optional properties:
	 	- server_timeout: timeout value for server socket
	 	- socket_timeout: timeout value for socket
	 	- timeout_unit: minute/second
		- connections: number of server socket connections to create
		- priority: high/medium/low - server thread priority
		- message_count: number of messages to be processed, 0=unlimited
	-->
 	<bean id="socketServerVo" class="com.legacytojava.message.vo.SocketServerVo">
	    <constructor-arg>
	    	<map>
	    	<entry key="port" value="5444"></entry>
	    	<entry key="interactive" value="no"></entry>
	    	<entry key="server_timeout" value="20"></entry>
	    	<entry key="socket_timeout" value="10"></entry>
	    	<entry key="timeout_unit" value="minute"></entry>
	    	<entry key="connections" value="10"></entry>
	    	<entry key="priority" value="high"></entry>
	    	<entry key="processor_name" value="httpServer"></entry>
	    	</map>
	    </constructor-arg>
	</bean>
	
	<bean id="socketServer" lazy-init="true" scope="prototype"
	      class="com.legacytojava.jbatch.SocketServer">
	    <constructor-arg index="0" ref="socketServerVo" />
	</bean>
	
	<bean id="httpServer" lazy-init="true" scope="prototype"
	      class="com.legacytojava.jbatch.HttpServer">
	    <constructor-arg index="0" value="com/legacytojava/jbatch/htmldocs"/>
	</bean>
	
</beans>