<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:property-placeholder ignore-resource-not-found="true" 
		location="classpath:/META-INF/message-core.${env:dev}.properties"/>

	<!-- ========== used by TaskScheduler class ========== -->
    <!-- Transaction Managers -->
	<bean id="jmsTransactionManager" lazy-init="true"
		class="org.springframework.jms.connection.JmsTransactionManager">
		<property name="connectionFactory">
			<ref bean="jmsConnectionFactory"/>
		</property>
	</bean>
	<!-- end of Transaction Managers -->

	<!-- JNDI template for data source -->
	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
	    <property name="environment">
	      <props>
	        <prop key="java.naming.factory.initial">
	          org.jboss.naming.remote.client.InitialContextFactory
	        </prop>
	        <prop key="java.naming.provider.url">${jndi.url}</prop>
	        <prop key="java.naming.factory.url.pkgs">org.jboss.ejb.client.naming</prop>
	        <prop key="java.naming.security.principal">${jndi.username}</prop>
	        <prop key="java.naming.security.credentials">${jndi.password}</prop>
	      </props>
	    </property>
	</bean>
	
	<!-- JMS Connection Factory -->
	<bean id="jmsConnectionFactory" 
		class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate">
	        <ref bean="jndiTemplate"/>
	    </property>
    	<property name="jndiName">
        	<value>java:/jms/RemoteConnectionFactory</value>
    	</property>
	</bean>

	<bean id="mailSenderInput"
	    class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate">
	        <ref bean="jndiTemplate"/>
	    </property>
	    <property name="jndiName">
	        <value>jms/queue/mailSenderInput</value>
	    </property>
	</bean>
	
	<bean id="unHandledOutput"
	    class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiTemplate">
	        <ref bean="jndiTemplate"/>
	    </property>
	    <property name="jndiName">
	        <value>jms/queue/unHandledOutput</value>
	    </property>
	</bean>
	<!-- end of JMS Queues -->

	<!-- Templates -->
	<bean id="mailSenderInputJmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref bean="jmsConnectionFactory" />
		</property>
		<property name="defaultDestination">
			<ref bean="mailSenderInput" />
		</property>
		<property name="receiveTimeout">
			<value>2000</value>
		</property>
	</bean>

	<bean id="unHandledOutputJmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref bean="jmsConnectionFactory" />
		</property>
		<property name="defaultDestination">
			<ref bean="unHandledOutput" />
		</property>
		<property name="receiveTimeout">
			<value>2000</value>
		</property>
	</bean>
	<!-- end of Templates -->

	<bean id="jmsProcessor" lazy-init="true"
		class="com.legacytojava.jbatch.queue.JmsProcessor">
		<property name="jmsTemplate">
			<ref bean="mailSenderInputJmsTemplate" />
		</property>
		<property name="errorJmsTemplate">
			<ref bean="unHandledOutputJmsTemplate" />
		</property>
		<property name="msgSelector">
			<null />
		</property>
		<property name="msgType">
			<value>JMS</value>
		</property>
	</bean>

</beans>